### 문제

> 아래와 같은 데이터프레임이 있다고 하자.

In [4]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'A':[1,2,3,4]})
df

   A
0  1
1  2
2  3
3  4

> 아래와 같은 결과를 관찰하고 이러한 결과가 나오는 이유를 정리하라.

In [5]:
df[['A']].apply(np.mean)

A    2.5
dtype: float64

In [7]:
df['A'].apply(np.mean)

0    1.0
1    2.0
2    3.0
3    4.0
Name: A, dtype: float64

### 풀이

In [28]:
print(df['A'].shape)
print(type(df['A']))

(4,)
<class 'pandas.core.series.Series'>

In [27]:
print(df[['A']].shape)
print(type(df[['A']]))

(4, 1)
<class 'pandas.core.frame.DataFrame'>

In [21]:
df[['A']].apply(np.mean, axis = 1)

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

> ```df['A']```는 ```Series```의 형식이고, ```df[['A']]```는 ```DataFrame```의 형식이다.
>
>  ```Series```에 ```apply()```함수를 적용하면, 각 원소마다 입력된 함수를 적용시키지만, ```DataFrame```에 ```apply()```함수를 적용하면 열이나 행에 대해서 적용된다.

* 따라서 위같은 경우에서 ```df[['A']].apply(np.mean)```의 경우 ```apply()```에서의 ```axis```의 디폴트 값이 ```0```으로 설정되어 있으므로 열의 평균을 계산하여 산출한다. 만약 데이터프레임의 각 원소에 함수를 적용시키고자 하면 ```applymap()```을 사용해야 한다.