* 필요한 라이브러리

In [2]:
import pandas as pd
import numpy as np

## 문제 1
---

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2021/master/_notebooks/2021-10-25-FIFA22_official_data.csv')
s = df.Wage
s

0        €250K
1        €140K
2        €135K
3        €350K
4         €45K
         ...
16705      €1K
16706     €550
16707     €700
16708     €500
16709       €0
Name: Wage, Length: 16710, dtype: object

위의 자료형에서 “€250.5K”와 같은 형태의 문자열이 있는지 조사하는 코드를 작성하라.

### 풀이

**query를 이용해보자.**

In [25]:
df[['Wage']].query('Wage == "€250.5K"')

Empty DataFrame
Columns: [Wage]
Index: []

**다른 방법**

In [30]:
sum([(i=='€250.5K')*1.0 for i in s])

0.0

> 존재하지 않는 것을 알 수 있다.

## 문제 2
---
아래와 같은 ```pd.Series```가 있다고 하자.

In [31]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2021/master/_notebooks/2021-10-25-FIFA22_official_data.csv').iloc[[0,1,16708,16709],:].reset_index()
s = df.Value
s

0    €107.5M
1       €93M
2      €110K
3         €0
Name: Value, dtype: object

다음과 같은 변환을 수행하라.

|  변환전   | 변환후    |
|:---------:|:----------|
| ‘€107.5M’ | 107500000 |
|  ‘€93M’   | 93000000  |
|  ‘€110K’  | 110000    |
|   ‘€0’    | 0         |

### 풀이

**for문 이용**
* 양 옆의 문자를 떼어주고, 뒤의 문자의 경우 해당하는 수만큼 곱해줘야 한다.

\- 먼저 앞의 유로를 떼주자.

In [34]:
_s = s.str.replace('€','');_s

0    107.5M
1       93M
2      110K
3         0
Name: Value, dtype: object

\- 그리고 뒤의 문자열은 조건에 해당하는 경우에만 떼고 수를 곱해주도록 하자.

In [92]:
convert_str = [int(float(i[:-1])*1000000) if i[-1] == 'M' else int(float(i[:-1])*1000) if i[-1] == 'K' else int(i) for i in _s]
convert_str

[107500000, 93000000, 110000, 0]

In [94]:
converted_s = pd.Series(convert_str)
converted_s

0    107500000
1     93000000
2       110000
3            0
dtype: int64

**다른 풀이**

문자열로 대체하고 `eval()`로 간단하게 연산시키자.

In [105]:
lambda x: int(eval(x.replace('M', '*1000000'))) if x[-1] == 'M' else int(eval(x.replace('K','*1000'))) if x[-1] == 'K' else int(x)

: 마지막 문자가 `'M'`이면 해당 문자열을 `'*1000000'`로 대체, `'K'`면 `'*1000'`로 대체, 그렇지 않다면 `int`로 바로 변환

In [104]:
_s.apply(lambda x: int(eval(x.replace('M', '*1000000'))) if x[-1] == 'M' else int(eval(x.replace('K','*1000'))) if x[-1] == 'K' else int(x))

0    107500000
1     93000000
2       110000
3            0
Name: Value, dtype: int64

> 해당 함수를 시리즈에 어플라이 해주면 바로 결과를 산출시킨다.