### 사전작업

In [1]:
import pandas as pd
import numpy as np

### 문제

아래의 자료가 있다고 하자.

In [2]:
df = pd.DataFrame({'guebin':[0,1,0,1,0,1],'hynn':[0,1,1,1,1,1]})
df

   guebin  hynn
0       0     0
1       1     1
2       0     1
3       1     1
4       0     1
5       1     1

이 자료를 `lambda`와 `df.applymap`을 이용하여 아래와 같이 변경해라.

In [5]:
#

  guebin  hynn
0   fail  fail
1   pass  pass
2   fail  pass
3   pass  pass
4   fail  pass
5   pass  pass

### 풀이

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   guebin  6 non-null      int64
 1   hynn    6 non-null      int64
dtypes: int64(2)
memory usage: 224.0 bytes

In [4]:
df.map(lambda x : 'pass' if x == 1 else 'fail')

  guebin  hynn
0   fail  fail
1   pass  pass
2   fail  pass
3   pass  pass
4   fail  pass
5   pass  pass

**끝**