### 라이브러리 imports

In [1]:
import pandas as pd
import numpy as np

## 문제

> 아래의 자료에서 X1을 기준으로 그룹화한뒤 X2에 대하여 다음 함수를 적용하라.

$$\max(X2) - \min(X2)$$

In [2]:
np.random.seed(43052)
df = pd.DataFrame({'X1':['A']*5+['B']*5, 'X2':np.concatenate([np.random.randn(5), np.random.randn(5)+10])})
df

  X1         X2
0  A   0.383420
1  A   1.084175
2  A   1.142778
3  A   0.307894
4  A   0.237787
5  B  10.355951
6  B   8.336925
7  B   8.617227
8  B   8.073155
9  B   8.513784

### 풀이

1. `.groupby().aggregate()` 사용

\- df를 X1으로 그룹화한 후, 함수를 이용해 연산한다.

In [6]:
df.groupby(by = 'X1').aggregate({'X2' : lambda x : np.max(x) - np.min(x)})

          X2
X1
A   0.904991
B   2.282796

2. `.pivot_table()` 사용

In [8]:
df.pivot_table(index = 'X1', values = 'X2', aggfunc = lambda x : np.max(x) - np.min(x))

          X2
X1
A   0.904991
B   2.282796

**끝**