### 라이브러리 imports

In [ ]:
import pandas as pd
import numpy as np

## 문제

> 아래의 자료를 tidydata로 변환하라.

In [2]:
s = pd.Series({
    ('female','A'):0.5,
    ('female','B'):0.2,
    ('male','A'):0.3,
    ('male','B'):0.7
})
s

female  A    0.5
        B    0.2
male    A    0.3
        B    0.7
dtype: float64

### 풀이
---

\- 시리즈의 인덱스를 해제

In [3]:
s.reset_index()

  level_0 level_1    0
0  female       A  0.5
1  female       B  0.2
2    male       A  0.3
3    male       B  0.7

\- 어... 이게 다네요.

In [5]:
s.reset_index().rename({'level_0' : 'Gender', 'level_1' : 'Class', 0 : 'Value'}, axis = 1)

   Gender Class  Value
0  female     A    0.5
1  female     B    0.2
2    male     A    0.3
3    male     B    0.7

**끝**